import(Matrix)
export(fractional.operators)

export(rSPDE.sample)
export(rSPDE.krig)
export(rSPDE.loglike)

export(matern.operators)
export(matern.covariance)
export(matern.loglike)

export(rSPDE.fem1D)
export(rSPDE.A1d)

S3method(print,rSPDEobj)
S3method(print,summary.rSPDEobj)
S3method(summary,rSPDEobj)

